<div style="text-align:center">
  <h1>
    DETAILS DATA!
  </h1>
  <table>
    <tr>
     <th>Firstname</th>
      <th>LastName</th>
      <th>Email</th>
      <th>State</th>
      <th>Street</th>
      <th>PinCode</th>

      


  </tr>
     <tr *ngFor="let u of data">
     <p><td>{{u.firstname}}</td></p>
      <td>{{u.lastname}}</td>
      <td>{{u.email}}</td>
      <td>{{u.state}}</td>
      <td>{{u.street}}</td>
      <td>{{u.street}}</td>
      <td>{{u.pincode}}</td>
   

      
   </tr>     
  </table>
 </div>
